JAXWSDemo2Client/META-INF/wsdl/SayingHello_metadata1.xsd

<!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><xs:schema xmlns:tns="http://www.bchydro.com/CMWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bchydro.com/CMWeb" version="1.0">
  <xs:element name="sayHello" type="tns:sayHello"></xs:element>
  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"></xs:element>
  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="aName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="sayHelloResponse" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>